# .NET
bin/
obj/
*.user
*.suo
.vs/
*.tlog
*.cache
*.dll
*.pdb
*.exe

# Frontend
node_modules/
dist/
.vite/
# --.env.local
# --.env.*.local

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Secrets
appsettings.Development.json
appsettings.Production.json
secrets.json
